.header {
  height: rem(56px);
  background-color: var(--mantine-color-purple-9);
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(
    var(--mantine-color-purple-2),
    var(--mantine-color-purple-1)
  );
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-purple-5),
      var(--mantine-color-dark-0)
    );
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-purple-7);
    color: var(--mantine-color-white);
  }
}
